<details>
<summary>Click here to see how to check Privacy Policy and Canary sign</summary>
<div class="highlighter-rouge"><pre class="highlight"><code><small>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512</small>

Privacy Policy and Canary <span style="background-color:#dff7ea;border-radius:6px;">must be signed with both 57231EB8 and F489C412</span> PGP
keys you can find here: <a href="https://hda.me/pgp_keys.txt">https://hda.me/pgp_keys.txt</a>
(file with keys signed with both keys too!)
Fast way to check Privacy Policy and Canary will be:

<div style="color:#fff;background-color:#000;border-radius:6px;">gpg --keyserver hkp://keyserver.ubuntu.com --recv 57231EB8 F489C412
curl https://hda.me/privacy_policy.txt | gpg --verify 
curl https://hda.me/canary.txt | gpg --verify
</div>
Output for privacy_policy.txt: (check fingerprints here!)
gpg: Signature made Fri 27 May 2016 03:45:46 PM UTC using RSA key ID <em>57231EB8</em>
gpg: Good signature from "hda_launchpad (hda_launchpad) &lt;admin@hda.me&gt;"
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: <strong style="color:#008000;">D17C A1EE 2ADA C417 0D71  DDDE E9E0 0DD3 5723 1EB8</strong>
gpg: Signature made Fri 27 May 2016 03:45:46 PM UTC using RSA key ID <em>F489C412</em>
gpg: Good signature from "Mail_Key &lt;mmail@sent.com&gt;"
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: <strong style="color:#008000;">047B B8D1 84F2 21B4 F7FE  9CF4 BF9D 52F1 F489 C412</strong>

P.S. Just in case I signed this message with both keys above too.
<small>-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1

iQIcBAEBCgAGBQJXSclAAAoJEOngDdNXIx64GjcP/2GlZrxWjm41iXAlzMYxJdD/
ngg50XtjlNatCFMditEhuIWv9hMGD7/9o3zG4JcYpLofhVrnPv7LqaqkIGl2GdW7
IAFuGFuB1Dj8DSYxE1MDvwz0bb4Kz1jV0bhY6BF1xy1WaJ9UUaszts5R5IesRLlu
MpVYSocyVR+GRYILof8h0JIvOz0dI21Nj8E1T9VF/cncdSDSa7L4LDA0H+jc/SWe
GTlM5Rh3cSo2Iq/xypp1xY6klkyX7ktpdtXRsumbZkfabkUTzdcIRI5UDpEsqqiR
M4EiJ7TA4zNh8Z0qhsM9QPcTGrFAEQdYL7ActuN8TYzoj/YgYD2XBRupF3Tm3YQ0
eJnwIZEUHkss58Bz0SoNKii/juWn956bxu+YvS8iTJSU0tWcjv4kf96/G60Vt3Ml
XMPkTaH2NFFqMcxAVR/h7maewg9I6U6o6953gXSLFXrGkG+nSlyikVE+Xl1PlVwT
cTj2+va3Sp5+QJBuGmLLJCP9Az/xtlRZt9Curm+pSjjYnomXWLyYpxrf1Uwlo0ZH
nxrJK63xkqtOUVWdAWo6MiAmhV/Ov2HAusnOTNCRQSFJdx4umsrxnLN5KkKb8RXy
G4YTfXstuhsCzeHFG8pTTbapVrYyPGvsfYYXH0Vy9IyXjKHLwPzQedhwil7x41BH
AZFWeXLWPja32Z8hPS/5iQIcBAEBCgAGBQJXSclAAAoJEL+dUvH0icQSGjcP/jQB
aoXQvb4WNHhUOmSSbEAUhPEB/YlrcEOyzmzHJar3rmxrrzTFMJoa8X2XOWsT9VbG
UFxlHkPjYWWpuEOJAGZIKK1pIRTxcHQ9r3WZvULbumv5LNBuSHfMjEjs2an+jftG
oCKBAyngDyMEfTUvNOQrvNPNugQmXeQ+ARTsXeJ9V3SbDrFhSfVgCz1A4y74GTkt
PHrCe83s+hU2OOy8xslqhukXvasS3+3l8WfWox0Y0qOqOa/8h/SarsL2rbt1TYdj
lDBSHUY10sDiI9/PtIDRb39L0b86746zOnyzrWWmUN6XVNIBWy+5RmbJkDo6xBwo
EHVyl13bMCNeEGGL5xlFZGGqW4bQZUt38GQQhOd2k59K3MrxmRpAjwbDX5/wgCf/
PH0rtd57RYPdfNZI6B+XUFWOfy9QhIVOQmeEtfAzObds2YChZSm4unfj2KmJxEVy
fA/roeanDBxtbEKEs3xDgQ+tavGfB/EJq6xOf0sjivcT40GCtgaGiV+Q6Oe+3dS9
8GsuRZh54u+vyKun3Fl4rNpB/5khwBUY506ik5fGBTUF66Whpaxkx+UmqmpQMIPY
PNp6JOVh13lvCglUs627WxoMRpHf8qkFLzFKVUQt/ybyHxLXSF8z3d3ZVjGx+kNW
8Pj/4zRcpyyezZwQkvg378LOiXhaKAhqGx61IRzb
=zval
-----END PGP SIGNATURE-----</small>
</code></pre>
</div>
</details>

