<div class="highlighter-rouge"><pre class="highlight"><code>PGP <em>57231EB8</em> (<a style="color:#666;" href="mailto:admin@hda.me">admin@hda.me</a>) key fingerprint:
<strong style="color:#008000;">D17C A1EE 2ADA C417 0D71  DDDE E9E0 0DD3 5723 1EB8</strong>

<a style="color:#666;" href="xmpp:im@hda.me">im@hda.me</a> jabber OTR fingerprint:
<strong style="color:#008000;">379B2CF9 2DD744D2 16FFEE5E CCDE4125 6E7A5745</strong>

PGP keys: <a href="https://hda.me/pgp_keys.txt">pgp_keys.txt</a> 
</code></pre>
</div>
