<div class="container">
  <footer>
<p class="copyright">Content ©{% capture date %}{% include date/year_range.html %}{% endcapture %}{{ date | strip_newlines | replace: '          ', ' ' }} <a href="{{ site.url }}/about">{{ site.title }}</a> <a class="rss" href="{{ site.baseurl }}/feed.xml">{{ site.data.theme.text.mark.rss }}</a><br>
Design and code are open source: <a href="https://github.com/cryptofuture/hda-blog">fork</a> or <a href="https://github.com/cryptofuture/hda-blog/issues?state=open">open an issue</a></p>
  </footer>
</div>
