<div class="container">
  <header class="flex align-center mobile-column">
    <div class="logo">
      <a href="{{ site.url }}/"><img src="{{ site.logo | prepend: site.url }}" width="96" title="Hard Drive Archive"/></a>
    </div>
    <div class="info flexitem fill">
      <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
      <h2>{{ site.description_short }}</h2>
    </div>
    <nav id="main-navigation">
      <a class="posts" href="{{ site.url }}/posts">Posts</a>
      {% if site.projects.size != 0 %}
        <a class="projects" href="{{ site.url }}/projects">Projects</a>
        <a class="services" href="{{ site.url }}/services">Services</a>
        <a class="tools" href="{{ site.url }}/tools">Tools</a>
      {% endif %}
      <a class="about" href="{{ site.url }}/about">About</a>
    </nav>
  </header>
</div>
